body {
    background-color: #F0EFF2;
}

.request-list {
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    padding: 80px 60px;
}

/* ページタイトル */
.request-list__heading {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 20px;
    height: 40px;
    border-left: 8px solid;
    font-weight: bold;
    font-size: 30px;
}

/* タブ */
.request-list__tab {
    display: flex;
    margin-bottom: 50px;
    border-bottom: 1px solid #000000;
}

.tab__links {
    padding: 20px 60px;
    font-size: 16px;
}

.tab__links.active {
    font-weight: bold;
}

/* 承認テーブル */
.request-list__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #737373;
    table-layout: fixed;
}

.request-list__header {
    padding: 10px 20px;
    border-bottom: 3px solid #E1E1E1;
}

.request-list__content {
    padding: 10px 20px;
    border-bottom: 2px solid #E1E1E1;
}

.request-list__table tr:last-child td {
    border-bottom: none;
}

.content__detail {
    color: #000000;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .request-list {
        width: 90vw;
    }

    .request-list__tab {
        justify-content: center;
    }
}