html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

/* ヘッダー */
.header {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    min-height: 80px;
    background-color: black;
    border: 1px solid black;
}

.header__logo img {
    width: 100%;
    max-width: 370px;
    height: auto;
}

.header__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 45px;
}

.header__link {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content__heading {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.error-message {
    color: #FF5555;
    font-weight: normal;
    font-size: 16px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media (max-width: 850px) and (min-width: 768px) {
    .header.header--logo-only {
            min-height: 80px;
        }

    .header {
        flex-direction: column;
        align-items: flex-start;
        min-height: 130px;
        padding: 20px 30px;
    }

    .header__logo {
        margin-bottom: 20px;
    }

    .header__links {
        gap: 30px;
        margin: 0 auto;
    }

    .header__link {
        font-size: 22px;
    }
}