body {
    background-color: #F0EFF2;
}

.attendance-detail {
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    padding: 80px 60px;
}

/* ページタイトル */
.attendance-detail__heading {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    padding-left: 20px;
    height: 40px;
    border-left: 8px solid;
    font-weight: bold;
    font-size: 30px;
}

/* 勤怠情報一覧テーブル */
.attendance-detail__form {
    text-align: right;
}

.attendance-detail__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: left;
    border: 1px solid #E1E1E1;
}

.attendance-detail__header,
.attendance-detail__content {
    border-bottom: 2px solid #E1E1E1;
}

.attendance-detail__header {
    width: 38%;
    padding: 40px 60px;
    color: #737373;
    font-weight: bold;
    font-size: 16px;
}

.attendance-detail__content {
    font-weight: bold;
    font-size: 16px;
}

.attendance-detail__table tr:last-child td,
.attendance-detail__table tr:last-child th {
    border-bottom: none;
}

.attendance-detail__content--name {
    padding-left: 30px;
}

.content__year {
    padding-left: 30px;
    display: inline-block;
    width: 45%;
}

.attendance-detail__content--time input {
    display: inline-block;
    width: 19%;
    height: 30px;
    border: 1px solid #E1E1E1;
    text-align: center;
    border-radius: 4px;
}

.content__time-separator {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.content__textarea {
    width: 60%;
    padding: 8px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    resize: none;
}

/* 修正ボタン */
.attendance-detail__button {
    width: 130px;
    height: 50px;
    margin-top: 110px;
    margin-left: auto;
    background-color: #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}

/* 申請中 */
.attendance-detail__content.modified input,
.attendance-detail__content--textarea.modified .content__textarea {
    border: none;
    color: #000000;
}

.attendance-detail__content--textarea.modified .content__textarea {
    padding: 8px 35px;
    height: 60px;
    line-height: 40px;
}

.alert-message {
    margin-top: 15px;
    text-align: right;
    color: #FF000080;
    font-weight: 800;
    font-size: 18px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .attendance-detail {
        width: 85vw;
    }

    .attendance-detail__form {
        text-align: center;
    }

    .attendance-detail__content--time input {
        width: 26%;
    }

    .content__year {
        width: 60%;
    }

    .content__time-separator {
        width: 25%;
    }

    .content__textarea {
        width: 80%;
    }

}